* {
    font-family: Roboto;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: stretch;
}

img {
    width: 300px;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer; 
    color: #e5e7eb;
  }

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    margin-bottom: 16px;
}

button {
    color: #3882F6;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }

.header, .footer {
    color: #E5E7EB;
    background: #1f2937;
    display: flex;
}

.header-links {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.header {
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    
}

.footer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mainbody {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
}
.section-one {
    display: flex;
    background: #1f2937;
    justify-content: space-evenly;
    align-content: center;
    gap: 16px;
    padding: 16px 0;
}

.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;

}

.picture {
    width: 150px;
    height: auto;
}

.button {
    display: flex;
    align-self: flex-end;
}
.section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-container {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 0 16px;
    gap: 52px;
    margin-bottom: 16px;
}
.section-three {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-three {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
}

.thor {
    display: flex;
    align-self: flex-end;
    flex: 1 0 auto;
}

.section-four {
    display: flex;
    flex-direction: row;
    background: #E5E7EB;
    justify-content: center;
    align-items: flex-end;
    padding: 64px;
}

.container-four {
    display: flex;
    flex-direction: row;
    background: #3882F6;
    border-radius: 25px;
    justify-content: center;
    align-items: flex-end;
    padding: 64px 0;
    gap: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
}

button.container-four {
    padding: 0 16px;
}